.BottomBar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    z-index: 2;
}

.BottomBar p {
    font-size: small;
}

.BottomBar a {
    color: white;
    font-size: small;
}

.BottomSpeed {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.BottomControls {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.BottomControls button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 30px;
    cursor: pointer;
}

.Progress {
    width: 20vw;
}