.BottomBar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.BottomBar a {
    color: white;
}

.BottomSpeed {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.BottomControls {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.BottomControls button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40px;
    cursor: pointer;
}