@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

.HeroBar {
    background-color: black;
    height: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.HeroTitle {
    font-family: "Bytesized", sans-serif;
}

