@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  height: 100vh;
}

:root {
  font-family: "JetBrains Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e7e7e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  font-family: "JetBrains Mono", sans-serif;
  font-size: small;
  margin: 0;
}